name: Build docs
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get python versions
        uses: chris48s/satisfying-python@main
        id: python-versions

      - name: Set up Python ${{ steps.python-versions.outputs.min }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ steps.python-versions.outputs.min }}

      - name: Install dependencies
        run: |
          pip install poetry
          make install

      - name: Build docs
        run: |
          make build-docs
